@media (max-width: 1200px){
    .LW {
        font-size: 35px;
        text-align: center;
    }
}
@media (max-width: 992px){
    .LW {
        font-size: 25px;
        text-align: center;
    }
}
@media (max-width: 421px){
    .LW {
        font-size: 15px;
        text-align: center;
    }
}