/*body {
	background-image: url(../photo/BG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}*/
.sec1 {
	margin-top: 56px;
}
.img {
	width: 400px;
	height: 400px;
	background-image: url(../photo/sec1photo.jpg);
	background-position: center;
	background-size: contain;
	border-radius: 50%;
	border-style: solid;
	border-color: red;

}