body {
	background-image: url(../photo/BG1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
nav {
	background-color: rgba(0, 0, 0, 0.3);
}
.bg {
	background-color: #17a2b8a3;
}
.navbar-light .navbar-brand {
	color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    border-radius: 3.25rem;
	background-color: #2ba79f;
}
.sec1 {
	margin-top: 56px;
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 100px;
	padding-bottom: 100px;
}
.img {
	background-image: url(../photo/sec1photo.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}
.img1 {
	width: 100%;
	height: 100%;
}
.sec1title {
	color: white;
	max-width: 300px;
	font-size: 40px;
	font-weight: bold;
}
.sec1text {
	color: gray;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 500px;
	font-size: 20px;
}
.btn-success {
	background-color: transparent;
}
.btn {
	border-radius: 3.25rem;
	border: 2px solid transparent;
	border-color: #2ba79f;
}
.btn:hover {
	background-color: #2ba79f;
	border-color: #2ba79f;
}