body {
	background-image: url(../photo/BG1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
nav {
	background-color: rgba(0, 0, 0, 0.3);
}
.bg {
	background-color: #17a2b8a3;
}
.navbar-light .navbar-brand {
	color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    border-radius: 3.25rem;
	background-color: #2ba79f;
}
.sec1 {
	margin-top: 56px;
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 100px;
	padding-bottom: 100px;
}
.img {
	background-image: url(../photo/sec1photo.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}
.img1 {
	width: 100%;
	height: 100%;
}
.sec1title {
	color: white;
	max-width: 300px;
	font-size: 40px;
	font-weight: bold;
}
.sec1text {
	color: gray;
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 500px;
	font-size: 20px;
}
.btn-success {
	background-color: transparent;
}
.btn {
	border-radius: 3.25rem;
	border: 2px solid transparent;
	border-color: #2ba79f;
}
.btn:hover {
	background-color: #2ba79f;
	border-color: #2ba79f;
}
.sec2 {
	padding-top: 100px;
}
.sec2title {
	margin-top: 10px;
	margin-bottom: 15px;
	color: white;
	font-size: 35px;
}
.sec2text {
	color: white;
	font-size: 20px;
}
.bg1 {
	background-color: rgba(0, 0, 0, 0.7);
	transition-property: all;
	transition-duration: 0.3s;
}
.bg1:hover {
	background-color: #17a2b8a3;
	border-radius: 20px;
	transform: scale(1.03);
}
.sec3 {
	margin-bottom: 50px;
}
.LW {
	font-size: 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
}
.LW1 {
	height: 7px;
	background-color: rgba(0, 0, 0, 0.8);
}
.city {
	border: 7px solid;
	border-color: white;
	border-radius: 10px;
	width: 290px;
	height: 190px;
	filter: grayscale(100%);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition-property: all;
	transition-duration: 0.3s;
}
.pt {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}
.city:hover {
	filter: grayscale(0);
	transform: scale(1.02);
	border-color: #17a2b8a3;
}
.footer {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #223e47;
}
.myform {
	cursor: pointer;
	color: white;
	transition-property: all;
	transition-duration: 0.2s;
}
.myform:hover {
	color: gray;
	text-decoration: none;
}
.fab {
	font-size: 30px;
	color: white;
	transition-property: all;
	transition-duration: 0.2s;
}
.fab:hover {
	color: gray;
}
.pay i {
	font-size: 45px;
	color: #757b7d;
	cursor: pointer;
}